.form-group {
    margin-bottom: 1.25rem !important;
}

span.tb-lead {
    font-weight: 500;
    color: #364a63;
    display: block;
    line-height: 1.4;
}

thead, tbody, tfoot, tr, td, th {
    vertical-align: middle;
}

img.thumb.book-table {
    width: 60px;
}